#genericSearch{
    width: 350px;
}
.songContent {
    margin: 0px;
    height: 150px;
}
.songContent:nth-child(even) {
    background: #DDD;
}
.songContent:nth-child(odd) {
    background: #FFF;
}
#searchBar {
    background-color: #AAA;
}
